In [5]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

<h3><u>Perform EDA (Expalotory Data Analysis)</h3>

In [6]:
df = pd.read_csv('canadian_immegration_data.csv')
df.head()

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1223,856,702,560,716,561,539,620,603,15699
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,1,15

In [7]:
df.tail()

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
190,Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,97146
191,Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
192,Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,...,161,140,122,133,128,211,160,174,217,2985
193,Zambia,Africa,Eastern Africa,Developing regions,11,17,11,7,16,9,...,91,77,71,64,60,102,69,46,59,1677
194,Zimbabwe,Africa,Eastern Africa,Developing regions,72,114,102,44,32,29,...,615,454,663,611,508,494,434,437,407,8598

In [8]:
df.columns

Index(['Country', 'Continent', 'Region', 'DevName', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', 'Total'],
      dtype='object')

In [9]:
df.describe()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,508.394872,566.989744,534.723077,387.435897,376.497436,358.861538,441.271795,691.133333,714.389744,843.241026,...,1320.292308,1266.958974,1191.820513,1246.394872,1275.733333,1420.287179,1262.533333,1313.958974,1320.702564,32867.451282
std,1949.588546,2152.643752,1866.997511,1204.333597,1198.246371,1079.309600,1225.576630,2109.205607,2443.606788,2555.048874,...,4425.957828,3926.717747,3443.542409,3694.573544,3829.630424,4462.946328,4030.084313,4247.555161,4237.951988,91785.498686
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,1.000000,1.000000,...,28.500000,25.000000,31.000000,31.000000,36.000000,40.500000,37.500000,42.500000,45.000000,952.000000
50%,13.000000,10.000000,11.000000,12.000000,13.000000,17.000000,18.000000,26.000000,34.000000,44.000000,...,210.000000,218.000000,198.000000,205.000000,214.000000,211.000000,179.000000,233.000000,213.000000,5018.000000
75%,251.500000,295.500000,275.000000,173.000000,181.000000,197.000000,254.000000,434.000000,409.000000,508.500000,...,832.000000,842.000000,899.000000,934.500000,888.000000,932.000000,772.000000,783.000000,796.000000,22239.500000
max,22045.000000,24796.000000,20620.000000,10015.000000,10170.000000,9564.000000,9470.000000,21337.000000,27359.000000,23795.000000,...,42584.000000,33848.000000,28742.000000,30037.000000,29622.000000,38617.000000,36765.000000,34315.000000,34129.000000,691904.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 39 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    0 non-null      float64
 1   Continent  195 non-null    object
 2   Region     195 non-null    object
 3   DevName    195 non-null    int64
 4   1980       195 non-null    int64
 5   1981       195 non-null    int64
 6   1982       195 non-null    int64
 7   1983       195 non-null    int64
 8   1984       195 non-null    int64
 9   1985       195 non-null    int64
 10  1986       195 non-null    int64
 11  1987       195 non-null    int64
 12  1988       195 non-null    int64
 13  1989       195 non-null    int64
 14  1990       195 non-null    int64
 15  1991       195 non-null    int64
 16  1992       195 non-null    int64
 17  1993       195 non-null    int64
 18  1994       195 non-null    int64
 19  1995       195 non-null    int64
 20  1996       195 non-null    int64
 21  1997       195 non-null    int64
 22  1998       195 non-null    int64
 23  1999       195 non-null    int64
 24  2000       195 non-null    int64
 25  2001       195 non-null    int64
 26  2002       195 non-null    int64
 27  2003       195 non-null    int64
 28  2004       195 non-null    int64
 29  2005       195 non-null    int64
 30  2006       195 non-null    int64
 31  2007       195 non-null    int64
 32  2008       195 non-null    int64
 33  2009       195 non-null    int64
 34  2010       195 non-null    int64
 35  2011       195 non-null    int64
 36  2012       195 non-null    int64
 37  2013       195 non-null    int64
 38  Total      195 non-null    int64
dtypes: float64(1), int64(36), object(2)
memory usage: 59.5+ KB

In [11]:
print(df['DevName'].unique())

['Developing regions' 'Developed regions']

In [12]:
label_map = {
    'Developing regions':0,
    'Developed regions':1
}
df['DevName']=df['DevName'].map(label_map)
print(df['DevName'].unique())

[0 1]

In [14]:
df['Country'] =pd.to_numeric(df['Country'],errors='coerce')

In [ ]:
print(df['Region'].unique())

In [ ]:
label_map = {
    'Southern Asia':0,
    'Southern Europe':1,
    'Northern Africa':2,
    'Polynesia':3,
     'Middle Africa':4,
    'Caribbean':5,
    'South America':6,
    'Western Asia':7,
    'Australia and New Zealand':8,
    'Western Europe':9,
    'Eastern Europe':10,
    'Central America':11,
    'Western Africa' :12,
    'Southern Africa' :13,
    'South-Eastern Asia':14,
    'Eastern Africa':15,
    'Northern America' :16,
    'Eastern Asia' :17,
    'Northern Europe':18,
    'Melanesia':19,
    'Central Asia':20,
    'Micronesia':21
}
df['Region'] = df['Region'].map(label_map)
print(df['Region'].unique())

In [ ]:
print(df['Continent'].unique())

In [ ]:
label_map ={
    'Asia':0,
    'Europe':1,
    'Africa':2,
    'Oceania':3,
    'Latin America and the Caribbean':4,
    'Northern America':5
}
df['Continent'] = df['Continent'].map(label_map)
print(df['Continent'].unique())

In [ ]:
df['Country_Code'] = pd.factorize(df['Country'])[0]

In [ ]:
df['Country'] =pd.to_numeric(df['Country'],errors='coerce')

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Country_Code'] = le.fit_transform(df['Country'])

In [ ]:
df.info()

In [ ]:
plt.figure(figsize=(8,6))
sns.heatmap(df[['Country', 'Continent', 'Region', 'DevName']].corr(),annot=True, cmap="coolwarm")
plt.title("Co-relation  Matrix")
plt.show()

In [ ]:
df.columns.tolist()
df.index.tolist()

print (type(df.columns.tolist()))
print (type(df.index.tolist()))

In [ ]:
df.columns

In [ ]:
df.index.values

In [ ]:
df.index

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df.Country

In [ ]:
df[['Country', '1980', '1981', '1982', '1983', '1984', '1985']] # 5 column from begning

In [ ]:
df[['Country', '2008', '2009', '2010', '2011', '2012', '2013']]  #last 5 column

In [ ]:
df.set_index('Country',inplace = True)
df.loc['Japan']

In [ ]:
print(df.columns.tolist())

In [ ]:
countries = df.index.tolist()
print(countries)

In [ ]:
india = df.loc['India','1980':'2013']
print(india)

In [ ]:
print("Total Number of person come in canada 1980 to 2013 :")
india.sum()

In [ ]:
china = df.loc['China','1980':'2013']
china.sum()

In [ ]:
japan = df.loc['Japan','1980':'2013']
japan.sum()

In [ ]:
print(df.loc['Japan'])


print(df.iloc[87])
print(df[df.index == 'Japan'].T.squeeze())

In [ ]:
df.index.name = None
df.head()

In [ ]:
df.loc['Japan','2013']

In [ ]:
df.columns = list(map(str,df.columns))

In [ ]:
condition = df['Continent'] == 'Asia'
condition